
body{
    color: hsl(220, 15%, 55%);
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.cardHolder{
    min-width: 100%;
    min-height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    background-color: white;
    padding: 24px;
    width: 290px;
    max-width: 100%;
    border-radius: 16px;
}

img{
    max-width: 100%;
    border-radius: 16px;
}

#text{
    text-align: center;

}

h3{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 23px;
}

.attribution{
    font-size: 25px;
}













/* copyright */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }